altgraph==0.17.4
backports.cached-property==1.0.2
click==8.1.7
Deprecated==1.2.14
img2pdf==0.4.4
lxml==5.2.1
macholib==1.16.3
packaging==24.0
pikepdf==8.15.1
pillow==10.3.0
pyinstaller==6.6.0
pyinstaller-hooks-contrib==2024.5
PyQt5==5.15.10
PyQt5-Qt5==5.15.13
PyQt5-sip==12.13.0
PyQt6==6.4.2
pyqt6-plugins==6.4.2.2.3
PyQt6-Qt6==6.4.3
PyQt6-sip==13.6.0
pyqt6-tools==6.4.2.3.3
python-dotenv==1.0.1
qt6-applications==6.4.3.2.3
qt6-tools==6.4.3.1.3
sortedcontainers==2.4.0
typing_extensions==4.11.0
wrapt==1.16.0
